.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  object-fit: cover;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  padding-right: 30px;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.res-deatils {
  display: flex;
  justify-content: space-between;
}
.card-container {
  margin-top: 50px;
  object-fit: contain;
  padding: 20px;
}
.card-container:hover {
  border: 1px solid lightgray;
  box-shadow: 0px 5px 10px lightgray;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res-container {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}
@media (min-width: 640px) {
  .res-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .res-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .res-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .res-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.crousel-container {
  background: #282c3f;
  width: 100vw;
  height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
